.text{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Josefin Sans',sans-serif;

}
.text1{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Josefin Sans',sans-serif;

}